// Colors
$white: #fff;
$black: #000;

$gray900: #13131a;
$gray800: #16161f;
$gray700: #1c1c27;
$gray600: #22222f;
$gray500: #3b3b54;
$gray400: #7f7f98;
$gray300: #ababc4;
$gray200: #bfbfd4;
$gray100: #fafafa;

$blueLight: #8fb2f5;

// Fonts
$nunito: 'Nunito', sans-serif;

// Others
$transition: 0.1s ease-in-out;
