.dashboard {
  background-image: url(../../images/svg/bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  transition: 0.3s;

  .wrapper {
    padding: 24px 0;
    display: flex;
  }

  &__main {
    width: 100%;
    display: flex;
  }

  &__sidebar {
    max-width: 630px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px 24px;
  }

  &__plate {
    padding: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-radius: 12px;
    background: $gray800;
  }

  &__greetings {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 8px;
    color: $gray200;
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    color: $gray100;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    color: $gray400;
  }

  &:not(.active) {
    .wrapper {
      min-height: 100dvh;
      justify-content: center;
    }

    .logo,
    .search-form {
      margin-bottom: auto;
    }

    .panel {
      display: none;
    }

    .dashboard {
      &__main {
        max-width: 505px;
        padding-bottom: 105px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 55px;
      }

      &__sidebar {
        display: none;
      }
    }
  }

  &.active {
    min-height: 100%;
    display: flex;
    align-items: center;

    .wrapper {
      gap: 24px;
    }

    .logo {
      height: 56px;
      width: 56px;
      min-width: 56px;
      justify-content: center;
      border-radius: 8px;
      background: $gray600;

      &__title {
        display: none;
      }
    }

    .search-form {
      max-width: calc(100% - (56px + 12px));
    }

    .panel {
      max-height: calc(100% - (56px + 16px));
      height: 100%;
    }

    .dashboard {
      &__main {
        max-width: 666px;
        padding: 16px;
        gap: 16px 12px;
        flex-wrap: wrap;
        border-radius: 12px;
        background: $gray800;
      }

      &__greetings {
        display: none;
      }
    }
  }

  &.loading {
    pointer-events: none;
    user-select: none;
    animation: pulse 1s infinite;
  }

  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @media (max-width: 1300px) {
    &.active {
      .wrapper {
        column-gap: 16px;
      }
    }
  }

  @media (max-width: 1200px) {
    &.active {
      .wrapper {
        padding: 16px 0;
        flex-direction: column;
        row-gap: 16px;
      }

      .dashboard {
        &__sidebar,
        &__main {
          max-width: unset;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    &__title {
      font-size: 28px;
    }

    &:not(.active) {
      .dashboard {
        &__main {
          padding-bottom: 60px;
          row-gap: 32px;
        }
      }
    }
  }

  @media (max-width: 640px) {
    &__sidebar {
      row-gap: 8px;
    }

    &__plate {
      padding: 12px;
    }

    &.active {
      .wrapper {
        padding: 8px 0;
        row-gap: 8px;
      }

      .search-form {
        max-width: calc(100% - 64px);
      }

      .dashboard {
        &__main {
          padding: 12px;
          gap: 12px 8px;
        }
      }
    }

    &__title {
      font-size: 24px;
    }

    &__subtitle {
      display: none;
    }
  }
}
